
<h1>To Do List</h1>

<form action="/" method="GET">
    <input type="text" placeholder="insert task here" name="todo">
    <input type="submit">
</form>

<div id="container">
    <ul>
        <% data.forEach(function(task){ %>
            <li><%= task %></li>            
        <% }) %>
    </ul>
</div>
